astroid==2.4.0
colorama==0.4.3
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
MouseInfo==0.1.3
numpy==1.18.4
opencv-python==4.2.0.34
Pillow==8.1.1
PyAutoGUI==0.9.50
PyGetWindow==0.0.8
pylint==2.5.0
PyMsgBox==1.0.7
pyperclip==1.8.0
PyRect==0.1.4
PyScreeze==0.1.26
PyTweening==1.0.3
selenium==3.141.0
six==1.14.0
toml==0.10.0
urllib3==1.26.5
wrapt==1.12.1
